# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
doc/api/
pubspec.lock

# Android related
/android/app/debug
/android/app/profile
/android/app/release

# Firebase / Env / Security
.env*
*.json
!firebase.json

# Web related
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json