android/* linguist-documentation=false linguist-vendored
ios/* linguist-documentation=false linguist-vendored
windows/* linguist-documentation=false linguist-vendored
linux/* linguist-documentation=false linguist-vendored
macos/* linguist-vendored