android/* linguist-vendored
ios/* linguist-vendored
windows/* linguist-vendored
linux/* linguist-vendored
macos/* linguist-vendored
web/* linguist-vendored

*.gradle linguist-vendored
*.lock linguist-vendored
*.properties linguist-vendored